.css-i4bv87-MuiSvgIcon-root{
height: 15px !important;

}
.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root,.css-1u0xj6n-MuiListItemText-root{

    display: flex !important;

    align-items: baseline !important;
}
.css-10hburv-MuiTypography-root{
    font-weight: 600 !important;
}
// .css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
//     border: 1px solid #2E7DF6 !important;
//     border-radius: 25px !important;
//     width: 60% !important;
//     background: rgba(177, 232, 255, 0.30) !important;
// }
// .css-ttn1xo {
//     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
//     rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
// }